*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.main{
    display: grid;
    grid-template-columns: 1fr 2.25fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}
.sidebar{
    background-color: rgba(25, 146, 212, 1);
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}
.sidebar__topMenu, .sidebar__mainMenu, .sidebar__bottomMenu{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__topMenu{
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.sidebar__mainMenu{
    margin-bottom: 1.75rem;
}

.sidebar .sidebar__link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.sidebar .material-icons{
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 100%;
    padding: 4px;
}




.header{
    background-color: rgba(255, 255, 255, 1);
    grid-column: 2/3;
    grid-row: 1/2;
}
.content{
    background-color: rgba(226, 232, 240, 1);
    grid-column: 2/3;
    grid-row: 2/3;
}